html{background: #000;}
body{background: #ccc;width:70%;margin: 0 auto;}
h1{background: red; color:#fff;}

div{width:20px;height:20px;background:red;border-radius:10px;position:absolute;transition:width 2s ease-out;}
.state2{width:400px;}
